body {background-color: #CCCC99}

.style49 {color: #990000; font-weight: bold;}
.style57 {font-family: "AvantGarde Bk BT"; font-size: 40px; font-weight: bold;}
.style58 {
	font-size: 24px;
	font-weight: bold;
	font-family: "AvantGarde Bk BT";
}
.style60 {
	font-size: 16px;
	font-family: "AvantGarde Bk BT";
}
.style61 {font-size: 14px}
.style1	{font-family: verdana; font-weight: bold; font-size: 11px; color: #000000; text-decoration: none}
.style62 {font-family: "AvantGarde Bk BT"}
.style63 {
	font-size: 12px;
	font-family: "AvantGarde Bk BT";
}
.style68 {font-size: 16px}
.style70 {font-family: Batang}
.style73 {font-size: 40px}
.style74 {font-family: "AvantGarde Bk BT"; font-size: 24px;}
.style76 {font-family: Batang; font-weight: bold; }
.styleTextarea { font-family: "Times New Roman", Times, serif; color: #000000; font-size: 11pt; border: 1px solid #000000; background-color: #779966; }